@use "../../assets/styles/mixins" as mixin;

.titleZone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  height: 54px;
  background-color: var(--primary);
  color: #fff;
  padding: 0 15px;
  border-radius: 5px;
}

.contentBlocZone {
  position: relative;
  margin: 0;
  background-color: var(--gray);
  border-radius: 5px;
  line-height: 25px;
  // z-index: -1;
  height: 0px;
  padding: 0;
  opacity: 0;
  transition: 0.3s ease;

  p {
    margin: 0;
  }
}

.textTranslate {
  padding: 20px;
  height: auto;
  opacity: 1;
}

.arrow {
  /* Styles de la flèche */
  transition: transform 0.3s ease;
}

.arrowRotated {
  transform: rotate(180deg); /* Rotation de 180 degrés */
}

@include mixin.sm-lt {
  .titleZone {
    margin-top: 20px;
    height: 30px;
  }

  .textTranslate {
    font-size: 12px;
    padding: 10px;
  }
}
