@use "../../assets/styles/mixins" as mixin;

.content {
  width: 100%;
}

.titleZone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  height: 54px;
  background-color: var(--primary);
  color: #fff;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer; /* Indique que la zone est cliquable */
}

.contentBlocZone {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  visibility: hidden;
  padding: 0 20px;
  margin: 0;

  p {
    margin: 0;
  }
}

.textTranslate {
  line-height: 25px;
  border-radius: 5px;
  background-color: var(--gray);
  padding: 20px;
  max-height: 500px;
  visibility: visible;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowRotated {
  transform: rotate(180deg);
}

@include mixin.sm-lt {
  .titleZone {
    margin-top: 20px;
    height: 30px;
  }

  .textTranslate {
    font-size: 12px;
    padding: 10px;
  }
}
