@use "../../assets/styles/mixins" as mixin;

.locationCard {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 10px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  &:hover {
    cursor: grab;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
  }

  &:hover img {
    transform: scale(1.05); /* Applique une échelle de 110% à l'image lors du survol de la carte */
  }

  h3 {
    width: 120px;
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 1;
  }
}

@include mixin.sm-lt {
  .locationCard {
    margin: 0 0 20px;
    height: 255px;

    width: 100%;
    height: 0;
    padding-bottom: 75%;
  }
}
