@use '../../assets/styles/mixins' as mixin;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    li {
      margin-left: 50px;
      font-weight: 500;
    }
  }
}

.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #000;
  }
}

@include mixin.sm-lt {
  .logo {
    width: 145px;
  }

  li {
    margin-left: 25px !important;

    a {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}